@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --font-List: "Roboto", sans-serif;
  --font-Defs: "Merriweather", serif;
}

.containerDefs {
  width: 70%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: row;
  color: white;
  gap: 20px;
}

.divList {
  flex: 1;
  font-family: var(--font-List);
}

.divList h1 {
  text-align: center;
}

.divList,
.defsExplaination {
  border: 2px solid white;
  border-radius: 20px;
}

.defsExplaination {
  flex: 1;
  font-family: var(--font-Defs);
}
.defsExplaination p,
ul#listOfWords {
  margin-left: 20px;
  white-space: pre-wrap;
  margin-top: 10px;
  font-size: 24px;
  overflow-y: auto;
  height: 90%;
}

.defsExplaination h1 {
  text-align: center;
}

.defsText {
  white-space: pre-wrap;
  margin-top: 10px;
  font-size: 24px;
  overflow-y: auto;
  height: 90%;
}

.title-Defs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-Defs h1 {
  flex: 1;
}

.title-Defs svg {
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 5px;
  fill: white;
  margin: auto;
}

.title-Defs svg :hover {
  opacity: 80%;
}
