.form-card {
  display: flex;
  flex-direction: row;
  background-color: #ccc;
  height: 50px;
  border-radius: 20px;
}

.form-card {
  width: 100%;
  max-width: 600px;
  margin: auto;
}

.form-card input {
  background: none;
  border: none;
  font-size: 21px;
  width: 100%;
}

.form-card input:focus {
  outline: none;
}

.lupeIcon {
  width: 30px;
  height: 30px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}
